h1 {
  font-family: 'Oxanium', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 130px;
  background-image: url('./images/watereffect.jpg');
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-position: center;
  background-size: 190px;
   position: relative; 
  z-index: 3;
margin-top: 5%;

}

p {
  font-family: 'Oxanium', serif;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
color: aliceblue;
position: relative;
z-index: 2;
margin-top:-60px ;
}

.position1 {
  width: 100%;
  height:500px;
 
    position: absolute; 
  width: 100%;
  height: 80%;
  z-index: 1;        
  object-fit: cover;  
  top:0;
  left:0;
  margin-top: -15%;
}

body {
  background-color: black;
}

.shapesbutton{
position: relative;
z-index:30;
margin-top: 110px;
margin-left: 30px;
background-color: rgb(21, 21, 21);
padding: 10px 20px;
font-family: 'Oxanium', serif;
color: rgb(249, 249, 249);
font-weight: 400;
border: none;
border-radius: 10px;

}